{% extends 'flatpage.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="post-preview">
          <a href="{{ url_for('article_detail', slug=blogpost.slug) }}">
            <h2 class="post-title">{{ blogpost.title }}</h1>
            <h3 class="post-subtitle">{{ blogpost.subtitle }}</h2>
          </a>
          <p>
            {{ blogpost.excerpt()|safe }}
            <a href="{{ url_for('article_detail', slug=blogpost.slug) }}">Read more.</a>
          </p>
          <p class="post-meta">Posted by {{ blogpost.author }} on {{ blogpost.date.strftime('%d %B, %Y') }}</p>
        </div>
        <hr>
        {% for bp in blogposts %}
        <div class="post-preview">
          <a href="{{ url_for('article_detail', slug=bp.slug) }}">
            <h2 class="post-title">{{ bp.title }}</h1>
            <h3 class="post-subtitle">{{ bp.subtitle }}</h2>
          </a>
          <p class="post-meta">Posted by {{ bp.author }} on {{ bp.date.strftime('%d %B, %Y') }}</p>
        </div>
        <hr>
        {% endfor %}
        <ul class="pager">
          <li class="next">
            <a href="{{ url_for('archive') }}">See archive →</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
